body{
	background-image: url(../images/mmbackground.jpg);
	background-position: center;
	background-repeat:repeat-y;
}


#marksHeadshot {
	padding-top: 30px; 
	padding-right: 20px;
	padding-left: 20px;
}

#intro{
	width: 100%;
	padding-top: 150px;
	padding-right: 150px;
	padding-bottom:150px;
}

#content{
	padding-left:85px;
	padding-right:85px;
}

#intro, h1{
	text-align: center;
}

#intro, p{
	text-align: center;
	width: 100%;
	position: relative;
}

span{
	font-weight: bold;
}